.function .btn-success{
  background-color: #68F75E;
  color: #000;
}
.function .btn-danger{
  background-color: #FB5053;
  color: #000;
}
#noteContent{
  white-space: pre-wrap;
}
.function{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 100%;
    padding: 15px;
    direction: ltr;
}
.function button{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-weight: 400;
}
.function .btn-success{
    border-radius: 5px 0 0 5px;
}
.function .btn-danger{
    border-radius: 0 5px 5px 0;
    color: whitesmoke;
}
.wrap{
    width: 100%;
    height: 100vh;
    padding: 10px 30px;
    overflow-x: scroll;
    background-color: rgba(255, 253, 173, 0.8);

}
.wrap::-webkit-scrollbar {
    display: none;
}
.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
    padding: 5px;
}
.textarea[contenteditable]:empty::before {
  content: "Nội dung ghi chú...";
  color: gray;
}
.note-title{
    margin: 10px 10px 10px 0px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    direction: ltr;
}
.note-title input{
    border: none;
    background-color: transparent;
    cursor: text;
    font-size: 16pt;
    font-weight: bold;
}
.note-image{
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    background-color: rgba(245, 245, 245, .3);
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
    max-height: 300px;
}
.note-image .text{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 14pt;
    font-weight: bold;
    color: #0E2756;
}
.current-image{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    scroll-behavior: smooth;
}
.current-image::-webkit-scrollbar {
  display: none;
}
.image-tag{
  display: block;
  overflow: hidden;
  width: 250px;
  height: 250px;
  background-color: rgba(245, 245, 245, .3);
  margin: 5px;
  margin-right: 10px;
  padding: 1px;
  box-shadow: 3px 3px 5px #e5dd8c;
  border-radius: 10px;
}
.image-wrap{
  min-height: 200px;
}
.image-tag p{
  display: inline-block;
  overflow: hidden;
  font-size: 12pt;
  height: 15pt;
  font-weight: bold;
  margin: 0.5vw;

}
.header{
  display: grid;
  grid-template-columns: 4fr 2fr 5fr;
  direction: rtl;
}

@media screen and (max-width: 700px) {
  .header{
    grid-template-columns: 1fr;
  }
}
.color-pick{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  direction: ltr;
}
#noteContent{
  font-size: 13pt;
}
.add-image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid 2px #000;
  border-radius: 10px;

}
textarea#image-caption{
  font-size: 13pt;
  margin-top: 10px;
}
.button-wrap{
  display:grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}
.button-wrap button{
  width: 100%;
  height: 40px;
  font-size: 13pt;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.button-wrap button:hover{
  background-color: #e5dd8c;
  transition: ease-in .2s;
}
.button-wrap .button-dismiss{
  margin-right: 10px;
}
.btn-wrap{
  display:grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  margin-top: 10px;
}
.btn-wrap button{
  width: 100%;
  height: 40px;
  font-size: 13pt;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.btn-wrap .image-close{
  margin-right: 10px;
}
.btn-wrap .image-delete{
  margin: 0;
  background-color: #F99A9C;
  color: #343434;
}
.form-text{
  margin-top: 5px;
}
span.addImage-text{
  font-size: 12pt;
  font-weight: bold;
  padding: 0.5vw;
}
.add-image .image-tag{
  min-height: 100px;
  min-width: 100px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .3);
  cursor: pointer;
  margin: 0;
  padding: 10px;
  box-shadow: none;
  border-radius: 10px;
}